:root {
    --indigo1: #ba89ff;
    --indigo2: #ac71ff;
    --indigo3: #9e59ff;
    --indigo4: #9141ff;
    --indigo: #832aff;
    --indigo6: #7512ff;
    --indigo7: #6910e6;
    --indigo8: #5e0ecc;
    --indigo9: #520db3;
    --grey1: #828282;
    --grey2: #6c6c6c;
    --grey3: #575757;
    --grey4: #424242;
    --grey: #2d2d2d;
    --grey6: #292929;
    --grey7: #242424;
    --grey8: #1f1f1f;
    --grey9: #1b1b1b;
    --smokewhite1: #e9e9e9;
    --smokewhite2: #e6e6e6;
    --smokewhite3: #e0e0e0;
    --smokewhite4: #e3e3e3;
    --smokewhite: #e0e0e0;
    --smokewhite6: #cacaca;
    --smokewhite7: #b3b3b3;
    --smokewhite8: #9d9d9d;
    --smokewhite9: #868686;
}