@tailwind base;
@tailwind components;
@tailwind utilities;

.media-icon {
    cursor: pointer;
    filter: grayscale(50%);
}

.media-icon:hover,
.media-icon:focus {
    filter: grayscale(0);
}

html *:not(a) {
    transition: background-color 750ms, color 250ms;
}