@tailwind base;
@tailwind components;

/* Navigation bar links */
.nav-link {
    @apply block px-2 py-1 text-gray-700 hover:text-gray-800 dark:text-gray-100 dark:hover:text-gray-200 font-semibold rounded hover:bg-gray-100 dark:hover:bg-gray-900;
}

@tailwind utilities;

html * {
    overflow-x: hidden;
}

/* Social media icons grayscale */
.media-icon {
    cursor: pointer;
    filter: grayscale(50%);
}

/* Social media icons full color on hover and focus */
.media-icon:hover,
.media-icon:focus {
    filter: grayscale(0);
}

/* Fade transition for background & font colors when toggling dark mode */
html *:not(a) {
    transition: background-color 500ms, color 250ms;
}

/* The Dark Mode Toggle Button */
@media only screen and (max-width: 1024px) {
    #dark-toggle-button {
        size: 100px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 10;
        padding: 8px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.274);
    }
    .dark *#dark-toggle-button {
        background-color: rgba(255, 255, 255, 0.274);
    }
}